######################
# Copressed/Archives #
######################
*.7z
*.dmg
*.gz
*.tar
*.rar
*.zip
*.jar

##############
# Logs/Cache #
##############
*.log

###########################
# .htaccess and .htpasswd #
###########################

*/.htaccess
*/.htpasswd

######################
# Unneccessary Files #
######################
*~
*.bak
*.old
